.members{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    column-count: 2;
}

.member-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    width:32rem;
    padding: 2rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
    list-style-type: none;
}

.member-container li{
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.member{
    display: inline-block;
    justify-content: center;
    padding-right: 2rem;
    float: left;
}

img{
    border-radius: 50%;
    height: 200px;
}


