.info{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.info-form{
    padding-right: 20px;
}

.info-form li{
    list-style: none;
}

.comment-box{
    padding-left: 20px;
}

