<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Đặt vé tàu cao tốc Phú quốc Express iFrame message passing test</title>
</head>
<body>
    <div style="text-align:center;"><h2><b>ĐẶT VÉ TÀU CAO TỐC PHUQUOCEXPRESS</b></h2></div>
	<div style="text-align: center;">
		<iframe id="pqe_iframe" src="https://test.pqe.com.vn?iframe=1" width="100%" scrolling="no"></iframe>
		<!--<iframe id="pqe_iframe" src="https://www.pqe.com.vn?iframe=1" width="95%" scrolling="no"></iframe>-->
	</div>
	
	<script type="text/javascript" src="iframeResizer.js"></script>
	<script type="text/javascript">window.iFrameResize(); </script>
</body>
</html>